html, body {
    height: 100%;
}

body {
    color: #eff1f0;
}

#content_wrap {
    height: 100%;
    margin: 0;
}

#rules_trigger {
    position: absolute;
    right: 15px;
    top: 15px;
}

#rules_trigger:hover {
    cursor: pointer;
}

#rules_wrap {
    position: absolute;
    display: none;
    background-image: linear-gradient(to right top, #016227, #016b2b, #01742f, #007d33, #008637, #008637, #008637, #008637, #007d33, #01742f, #016b2b, #016227);
    padding: 10px;
    border: 2px solid #eff1f0;
    border-radius: 5px;
    top: 15px;
    right: 90px;
    height: 55%;
    flex-direction: column;
}

#rules_wrap > h1 {
    color: #eff1f0;
    margin: 0;
    font-size: 35px;
}

#rules_scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
}

#rules_list {
    list-style: circle;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 0;
}

#left {
    background-color: #016428;
    border-right: 2px solid #eff1f0;
    display: flex;
    flex-direction: row;
    flex-basis: 17%;
    max-width: 17%;
    margin: 0;
    height: 100%;
    padding: 10px;
}

#left > * {
    width: 100%;
}

#left button {
    width: 100%;
    margin: 0;
}

#left_top {
    display: flex;
    flex-direction: column;
    height: 20%;
}

#btn_start_reset_wrap {
    margin-bottom: 10px;
}

#btn_start_reset {
    display: none;
}

#num_start_cards_wrap {
    text-align: center;
}

#num_start_cards_wrap > span {
    display: none;
}

#num_start_cards {
    width: 50px;
}

#left_middle {
    height: 45%;
    display: flex;
    flex-direction: column;
}

#num_players_wrap {
    text-align: center;
    font-weight: bold;
    height: 11%;
    margin-top: 20%;
}

#player_list_wrap {
    flex-grow: 1;
}

#player_list tr {
    border: 0;
    height: 35px;
}

#player_list td {
    text-align: center;
}

#player_list .kickplayer {
    cursor: pointer;
}

.player::before {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.player.host::before {
    color: #ffa500;
}

.player.turn {
    text-decoration: underline;
}

#player_list_tip {
    text-align: center;
    height: 24%;
    padding-bottom: 5px;
}

#left_bottom {
    display: flex;
    flex-direction: column;
    height: 35%;
}

#btn_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#btn_wrap > * {
    height: 33.333333%;
}

#btn_wrap button {
    display: none;
}

#doppelmau_version_wrap {
    font-style: italic;
    opacity: 0.5;
    height: 8%;
}

#right {
    background-image: linear-gradient(to right top, #016227, #016b2b, #01742f, #007d33, #008637, #008637, #008637, #008637, #007d33, #01742f, #016b2b, #016227);
    flex-basis: 83%;
    max-width: 83%;
    margin: 0;
    padding: 0;
    height: 100%;
}

#right_content_wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#right_top {
    height: 55%;
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

#top_card_wrap {
    display: flex;
    justify-content: center;
}

#top_card {
    height: 100%;
}

#right_middle {
    height: 40%;
    padding-bottom: 2%;
}

#wished_form_wrap {
    height: 15%;
    margin: 0 3%;
    display: flex;
    align-items: center;
}

#hand_cards_wrap {
    height: 85%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.4);
    margin: 0 3%;
}

.hand_cards_chbx {
    display: none;
}

.hand_cards_chbx:checked + label > img {
    border: 4px solid gold;
    border-radius: 8%;
}

.hand_card {
    margin-left: 10px;
    border: 5px solid transparent;
    height: 100%;
}

#hand_cards_wrap > label:last-child > img {
    margin-right: 10px;
}

#right_bottom {
    height: 5%;
    border-top: 2px solid #eff1f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#requested_shape_menu_wrap {
    display: none;
    position: absolute;
    background-color: rgba(179,179,179, 0.5);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#requested_shape_menu {
    position: absolute;
    background-image: linear-gradient(to right top, #016227, #016b2b, #01742f, #007d33, #008637, #008637, #008637, #008637, #007d33, #01742f, #016b2b, #016227);
    padding: 10px;
    border: 2px solid #eff1f0;
    border-radius: 5px;
}

#requested_shape_menu h1 {
    color: #eff1f0;
    margin: 0;
    font-size: 35px;
}

.shape {
    height: 200px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.shape:last-child {
    margin-right: 0;
}



@media only screen and (max-width: 1200px) {
    #left {
        flex-basis: 22%;
        max-width: 22%;
    }
    
    #left_top {
        height: 18%;
    }
    
    #btn_start_reset_wrap {
        margin-bottom: 0;
    }
    
    #player_list tr {
        height: 15px;
    }
    
    #right {
        flex-basis: 78%;
        max-width: 78%;
    }
    
    #left_middle {
        height: 32%;
    }
    
    #num_players_wrap {
        margin-top: 0;
    }
    
    #left_bottom {
        height: 50%;
    }
    
    #btn_wrap {
        height: 100%;
    }
    
    #left button {
        height: 90%;
    }
    
    #rules_wrap {
        padding: 0 10px 10px;
        height: 70%;
    }
    
    #rules_wrap > h1 {
        font-size: 25px;
    }
}